/assets/models/ANKER.fbx
/assets/models/ball.obj
/assets/models/bunny.obj
/assets/models/dragon.3d
/assets/models/mesh.mtl
/assets/models/mesh.obj
/assets/models/spiderbot.fbx
/assets/models/testCube.fbx
/assets/models/Tree.fbx
/cmake-build-debug/.cmake/api/v1/query/cache-v2
/cmake-build-debug/.cmake/api/v1/query/cmakeFiles-v1
/cmake-build-debug/.cmake/api/v1/query/codemodel-v2
/cmake-build-debug/.cmake/api/v1/query/toolchains-v1
/cmake-build-debug/.cmake/api/v1/reply/cache-v2-42ce192899f50705e381.json
/cmake-build-debug/.cmake/api/v1/reply/cmakeFiles-v1-0726ccd2c7e72f314617.json
/cmake-build-debug/.cmake/api/v1/reply/codemodel-v2-a6467aa12e7449688d44.json
/cmake-build-debug/.cmake/api/v1/reply/directory-.-Debug-d0094a50bb2071803777.json
/cmake-build-debug/.cmake/api/v1/reply/index-2024-04-04T14-03-35-0235.json
/cmake-build-debug/.cmake/api/v1/reply/target-Fishy-Debug-687d751b904c7a50b934.json
/cmake-build-debug/.cmake/api/v1/reply/target-Fishy_autogen-Debug-1bceedf1e5f02af0b71b.json
/cmake-build-debug/.cmake/api/v1/reply/target-Fishy_autogen_timestamp_deps-Debug-01f1e89298c13b645d8d.json
/cmake-build-debug/.cmake/api/v1/reply/toolchains-v1-27c5502b2f67aeea8374.json
/cmake-build-debug/.qt/QtDeploySupport.cmake
/cmake-build-debug/CMakeFiles/3.26.4/CompilerIdC/CMakeCCompilerId.c
/cmake-build-debug/CMakeFiles/3.26.4/CompilerIdC/CMakeCCompilerId.exe
/cmake-build-debug/CMakeFiles/3.26.4/CompilerIdC/CMakeCCompilerId.obj
/cmake-build-debug/CMakeFiles/3.26.4/CompilerIdCXX/CMakeCXXCompilerId.cpp
/cmake-build-debug/CMakeFiles/3.26.4/CompilerIdCXX/CMakeCXXCompilerId.exe
/cmake-build-debug/CMakeFiles/3.26.4/CompilerIdCXX/CMakeCXXCompilerId.obj
/cmake-build-debug/CMakeFiles/3.26.4/CMakeCCompiler.cmake
/cmake-build-debug/CMakeFiles/3.26.4/CMakeCXXCompiler.cmake
/cmake-build-debug/CMakeFiles/3.26.4/CMakeDetermineCompilerABI_C.bin
/cmake-build-debug/CMakeFiles/3.26.4/CMakeDetermineCompilerABI_CXX.bin
/cmake-build-debug/CMakeFiles/3.26.4/CMakeRCCompiler.cmake
/cmake-build-debug/CMakeFiles/3.26.4/CMakeSystem.cmake
/cmake-build-debug/CMakeFiles/d/b5873a4efaae01ae8c5a0478f4e3761a206943a02b2e8d4fa0675c8651184f3a.d
/cmake-build-debug/CMakeFiles/FindOpenMP/ompver_C.bin
/cmake-build-debug/CMakeFiles/FindOpenMP/ompver_CXX.bin
/cmake-build-debug/CMakeFiles/Fishy.dir/Fishy_autogen/UVLADIE3JM/qrc_Fishy.cpp.obj
/cmake-build-debug/CMakeFiles/Fishy.dir/Fishy_autogen/mocs_compilation.cpp.obj
/cmake-build-debug/CMakeFiles/Fishy.dir/src/Accelerator/AABB.cpp.obj
/cmake-build-debug/CMakeFiles/Fishy.dir/src/Accelerator/BVH.cpp.obj
/cmake-build-debug/CMakeFiles/Fishy.dir/src/Accelerator/Interval.cpp.obj
/cmake-build-debug/CMakeFiles/Fishy.dir/src/core/BSDF.cpp.obj
/cmake-build-debug/CMakeFiles/Fishy.dir/src/core/Film.cpp.obj
/cmake-build-debug/CMakeFiles/Fishy.dir/src/core/Integrator.cpp.obj
/cmake-build-debug/CMakeFiles/Fishy.dir/src/core/Scene.cpp.obj
/cmake-build-debug/CMakeFiles/Fishy.dir/src/fishy/SceneManager.cpp.obj
/cmake-build-debug/CMakeFiles/Fishy.dir/src/shapes/ModelLoader.cpp.obj
/cmake-build-debug/CMakeFiles/Fishy.dir/src/shapes/Plane.cpp.obj
/cmake-build-debug/CMakeFiles/Fishy.dir/src/shapes/Sphere.cpp.obj
/cmake-build-debug/CMakeFiles/Fishy.dir/src/shapes/Triangle.cpp.obj
/cmake-build-debug/CMakeFiles/Fishy.dir/src/utilities/FishyThreadPool.cpp.obj
/cmake-build-debug/CMakeFiles/Fishy.dir/src/FishyRenderer.cpp.obj
/cmake-build-debug/CMakeFiles/Fishy.dir/embed.manifest
/cmake-build-debug/CMakeFiles/Fishy.dir/intermediate.manifest
/cmake-build-debug/CMakeFiles/Fishy.dir/main.cpp.obj
/cmake-build-debug/CMakeFiles/Fishy.dir/manifest.rc
/cmake-build-debug/CMakeFiles/Fishy.dir/manifest.res
/cmake-build-debug/CMakeFiles/Fishy.dir/vc140.pdb
/cmake-build-debug/CMakeFiles/Fishy_autogen.dir/AutogenInfo.json
/cmake-build-debug/CMakeFiles/Fishy_autogen.dir/AutogenUsed.txt
/cmake-build-debug/CMakeFiles/Fishy_autogen.dir/AutoRcc_Fishy_UVLADIE3JM_Info.json
/cmake-build-debug/CMakeFiles/Fishy_autogen.dir/AutoRcc_Fishy_UVLADIE3JM_Lock.lock
/cmake-build-debug/CMakeFiles/Fishy_autogen.dir/AutoRcc_Fishy_UVLADIE3JM_Used.txt
/cmake-build-debug/CMakeFiles/Fishy_autogen.dir/ParseCache.txt
/cmake-build-debug/CMakeFiles/ShowIncludes/foo.h
/cmake-build-debug/CMakeFiles/ShowIncludes/main.c
/cmake-build-debug/CMakeFiles/ShowIncludes/main.obj
/cmake-build-debug/CMakeFiles/test2_autogen.dir/AutogenInfo.json
/cmake-build-debug/CMakeFiles/clean_additional.cmake
/cmake-build-debug/CMakeFiles/clion-Debug-log.txt
/cmake-build-debug/CMakeFiles/clion-environment.txt
/cmake-build-debug/CMakeFiles/cmake.check_cache
/cmake-build-debug/CMakeFiles/CMakeConfigureLog.yaml
/cmake-build-debug/CMakeFiles/rules.ninja
/cmake-build-debug/CMakeFiles/TargetDirectories.txt
/cmake-build-debug/Fishy_autogen/include/ui_Fishy.h
/cmake-build-debug/Fishy_autogen/KOKSVD2RMJ/moc_SceneManager.cpp
/cmake-build-debug/Fishy_autogen/KOKSVD2RMJ/moc_SceneManager.cpp.d
/cmake-build-debug/Fishy_autogen/PRMOGMWJPH/moc_Integrator.cpp
/cmake-build-debug/Fishy_autogen/PRMOGMWJPH/moc_Integrator.cpp.d
/cmake-build-debug/Fishy_autogen/UVLADIE3JM/moc_FishyRenderer.cpp
/cmake-build-debug/Fishy_autogen/UVLADIE3JM/moc_FishyRenderer.cpp.d
/cmake-build-debug/Fishy_autogen/UVLADIE3JM/qrc_Fishy.cpp
/cmake-build-debug/Fishy_autogen/deps
/cmake-build-debug/Fishy_autogen/mocs_compilation.cpp
/cmake-build-debug/Fishy_autogen/timestamp
/cmake-build-debug/test2_autogen/deps
/cmake-build-debug/test2_autogen/mocs_compilation.cpp
/cmake-build-debug/test2_autogen/timestamp
/cmake-build-debug/Testing/Temporary/LastTest.log
/cmake-build-debug/.ninja_deps
/cmake-build-debug/.ninja_log
/cmake-build-debug/assimp-vc143-mtd.dll
/cmake-build-debug/build.ninja
/cmake-build-debug/cmake_install.cmake
/cmake-build-debug/CMakeCache.txt
/cmake-build-debug/Fishy.exe
/cmake-build-debug/Fishy.ilk
/cmake-build-debug/Fishy.pdb
/cmake-build-debug/minizip.dll
/cmake-build-debug/poly2tri.dll
/cmake-build-debug/pugixml.dll
/cmake-build-debug/renderOutput.png
/cmake-build-debug/temp.mtl
/cmake-build-debug/temp.obj
/cmake-build-debug/test2.exe
/cmake-build-debug/test2.ilk
/cmake-build-debug/test2.pdb
/cmake-build-debug/zlibd1.dll
